[submodule "vendor/zig-args"]
	path = vendor/zig-args
	url = https://github.com/MasterQ32/zig-args
[submodule "vendor/zig-network"]
	path = vendor/zig-network
	url = https://github.com/MasterQ32/zig-network
[submodule "vendor/zig-uri"]
	path = vendor/zig-uri
	url = https://github.com/MasterQ32/zig-uri
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/painterz"]
	path = vendor/painterz
	url = https://github.com/ziglibs/painterz
[submodule "vendor/optional"]
	path = vendor/optional
	url = https://github.com/TartanLlama/optional
[submodule "vendor/ini"]
	path = vendor/ini
	url = https://github.com/ziglibs/ini
[submodule "vendor/foxwren"]
	path = vendor/foxwren
	url = https://github.com/malcolmstill/foxwren
[submodule "vendor/zero-graphics"]
	path = vendor/zero-graphics
	url = https://github.com/MasterQ32/zero-graphics
[submodule "vendor/zig-charm"]
	path = vendor/zig-charm
	url = https://github.com/jedisct1/zig-charm
[submodule "vendor/known-folders"]
	path = vendor/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "vendor/zig-sqlite"]
	path = vendor/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite
[submodule "vendor/uuid6-zig"]
	path = vendor/uuid6-zig
	url = https://github.com/jdknezek/uuid6-zig
[submodule "vendor/zig-qoi"]
	path = vendor/qoi
	url = https://github.com/MasterQ32/zig-qoi
[submodule "vendor/sdk"]
	path = vendor/tvg
	url = https://github.com/TinyVG/sdk
[submodule "vendor/antiphony"]
	path = vendor/antiphony
	url = https://github.com/ziglibs/antiphony
[submodule "vendor/serve"]
	path = vendor/serve
	url = https://github.com/MasterQ32/zig-serve
[submodule "vendor/ztt"]
	path = vendor/ztt
	url = https://github.com/MasterQ32/ZTT
[submodule "vendor/pcre2"]
	path = vendor/pcre2
	url = https://github.com/PCRE2Project/pcre2
