[submodule "lib/zig-args"]
	path = lib/zig-args
	url = https://github.com/MasterQ32/zig-args
[submodule "lib/zig-network"]
	path = lib/zig-network
	url = https://github.com/MasterQ32/zig-network
[submodule "lib/SDL.zig"]
	path = lib/SDL.zig
	url = https://github.com/MasterQ32/SDL.zig
[submodule "lib/zig-uri"]
	path = lib/zig-uri
	url = https://github.com/MasterQ32/zig-uri
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/painterz"]
	path = lib/painterz
	url = https://github.com/ziglibs/painterz
