[submodule "dunstwolke/ext/picohash"]
	path = dunstwolke/ext/picohash
	url = https://github.com/kazuho/picohash
[submodule "dunstwolke/ext/concurrentqueue"]
	path = dunstwolke/ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "dunstwolke/ext/json"]
	path = dunstwolke/ext/json
	url = https://github.com/nlohmann/json
[submodule "dunstwolke/ext/GSL"]
	path = dunstwolke/ext/GSL
	url = https://github.com/microsoft/GSL
[submodule "dunstwolke/ext/flex"]
	path = dunstwolke/ext/flex
	url = https://github.com/MasterQ32/flex
[submodule "dunstwolke/ext/zig-args"]
	path = dunstwolke/ext/zig-args
	url = https://github.com/MasterQ32/zig-args
[submodule "dunstwolke/ext/zig-network"]
	path = dunstwolke/ext/zig-network
	url = https://github.com/MasterQ32/zig-network
